.browse-courses-paginate{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #627373;
  margin-right: 0;
  margin-left: auto;
  height: 100%;
}

.pagination-link:focus{
  outline: none;
}
.browse-courses-resetFilter{
  text-decoration: underline;
  color:#4183c4;
  margin-left: 5px;
}
.browse-courses-resetFilter:hover{
  cursor: pointer;
}

@media (max-width: 1450px) {
  .browse-courses-paginate {width:78%}
}
@media (max-width: 1000px) {
  .browse-courses-paginate {width:100%}
}
