.requirements-container{
  width: 40%;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  color: #627373;
}

@media (max-width: 2050px) {
  .requirements-container{
    margin-left: 250px;
    width: 47%;
  }
}
@media (max-width: 1750px) {
  .requirements-container{
    margin-left: 100px;
    width: 55%;
  }
}
@media (max-width: 1430px) {
  .requirements-container{
    margin-left: 50px;
    width: 55%;
  }
}
@media (max-width: 1140px) {
  .requirements-container{
    margin-left: 0px;
    width: 70%;
  }
}
@media (max-width: 800px) {
  .requirements-container{
    margin-left: 0px;
    width: 85%;
  }
}
@media (max-width: 600px) {
  .requirements-container{
    margin-left: 0px;
    width: 95%;
  }
}
