.info-container{
  width:100%;
  height: 460px;
  background-color: #e2ebf0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #687075;
}
.info-categories{
  margin: 10px 0;
  margin-left: 400px;
  font-size: 20px;
}
.info-content{
  margin-top: 25px;
  margin-left: 400px;
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.info-link{
  color: #687075;
  text-decoration: none;
}
.info-link:hover{
  text-decoration: underline;
  cursor: pointer;
}
.info-title{
  font-size: 33px;
  font-weight: bold;
  line-height: normal;
}
.info-subtitle{
  font-size: 18px;
  line-height: normal;
}
.info-schedule{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  font-size: 16px;
  position: relative;
}
.info-schedule-first{
  width: 40%;
  margin-bottom: 10px;
}
.info-schedule-time{
  display: flex;
  flex-direction: column;
}
.info-location{
  font-size: 16px;
}
.info-rating-answer{
  display: flex;
  justify-content: space-between;
  min-width: 60%;
}
.info-ratings{
  margin-right: 20px;
}
.info-language{
  display: flex;
  flex-direction: column;
}
.info-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-buttons button{
  font-weight: bold;
  height: 30px;
  width: auto;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  color:white;
}
.info-buttons button:hover{
  cursor: pointer;
  opacity: 0.8;
}
.info-btn-1{ background: #eea890}
.info-btn-2{ background: #e9d2a6}
.info-btn-3{ background: #a6d5d2}
.fas-icon{
  color: #e5a689;
  margin-right: 10px;
  width: 15px !important;
  font-size: 16px;
}
.info-scroll-link{
  color: #429ece !important;
}
.info-scroll-link:hover{
  cursor: pointer;
}
@media (max-width: 2050px) {
  .info-content{
    margin-left: 250px;
    width: 47%;
  }
  .info-categories{margin-left: 250px}
}
@media (max-width: 1750px) {
  .info-content{
    margin-left: 100px;
    width: 55%;
  }
  .info-categories{margin-left: 100px}
}
@media (max-width: 1430px) {
  .info-content{
    margin-left: 50px;
    width: 55%;
  }
  .info-categories{margin-left: 50px}
}
@media (max-width: 1140px) {
  .info-container{
    display: none;
  }
  .info-subtitle{
    margin: 15px 0;
  }
  .info-location{
    margin: 15px 0;
  }
}
