.finance-container{
  border: 1px solid #008cb6;
  border-radius: 10px;
  width: 99.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.students-list{
  height: 65%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.student{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  width: 99%;
}
.student-name{
  display: flex;
  align-items: center;
  width: 30%;
  margin-left: 15px;
}
.student-coupon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  color: #ffa763;
}
.student-value{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
}
.earnings{
  height: 15%;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expense-value{
  height: 100%;
  border-top: 1px solid #818487;
  border-bottom: 1px solid #818487;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.earnings-value{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  color: #de456a;
}

@media (max-width: 650px) {
  .finance-container{font-size: 14px;}
}

@media (max-width: 500px) {
  .finance-container{font-size: 12px;}
}
