
.instructor-header {
  height: 5.625rem;
  background-color: darkblue;
  width: 100%;
  color: white;
  height: auto;
}

.instructor-header span {
    display: flex;
    padding-left: 1rem;
    padding-top: 0.75rem;
}

.inst-header-main {
  font-size: xx-large;
}

.inst-header-child {
  font-size: x-large;
}