.linkedInBtn {
  /*  background-image: url("./linkedin-active.png");
    background-repeat: no-repeat;
    width: 215px;
    height: 41px;
    border: none;
    border-radius: 5px;

    &:hover {
      background-image: url("./linkedin-hover.png");
    }*/
  border-radius: 50%;
  border: none;
  background-color: #0e76a8;
  font-size: 1.5em;
}
