.filtersBar-container{
  width: 100%;
  max-width: 1015px;
  background: #F0F5FF;
  margin-bottom: 25px;
  padding: 11px;
}
.filtersBar-container .select-location{
  height: 36px !important;
}
.filtersBar-container > div:first-child{
  display: flex;
}
.filtersBar-container .filtersBar-search{
  display: flex;
  width: 474px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  padding: 8px 15px;
  margin-left: 54px;
  margin-right: 20px;
}
.filtersBar-container .filtersBar-search > svg:first-child{
  width: 20px;
  height: 20px;
  color: #4F4F4F;
  margin-right: 12px;
}
.filtersBar-container .filtersBar-search >div:last-child{
    margin-right: 0;
    margin-left: auto;
    font-size: 14px;
    line-height: 17px;
    color: #898989;
}
.filtersBar-container .filtersBar-search >div:last-child:hover{
  cursor: pointer;
}
.filtersBar-container .filtersBar-search  svg{
  margin-right: 7px;
  margin-left: 7px;
  width: 14px;
  height: 14px;
}
.filtersBar-container .filtersBar-search > input{
  width: 70%;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
}
.filtersBar-container .filtersBar-search > input:focus{
  outline: none;
}
.filtersBar-container .filtersBar-allBtn{
  background: #2D9CDB;
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 9px 15px;
  height: 36px;
  margin-right: 0;
  margin-left: auto;
}
.filtersBar-container .filtersBar-allBtn:hover{
  cursor: pointer;
}
.filtersBar-container .filtersBar-allBtn >svg{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.filtersBar-container > .filtersBar-aplied{
  margin-top: 15px;
  display: flex;
}
.filtersBar-container > .filtersBar-aplied >div:first-child{
  font-size: 16px;
  line-height: 19px;
  color: #303030;
  margin-right: 20px;
  margin-top: 6px;
}
.filtersBar-container > .filtersBar-aplied >div:nth-child(2){
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}
.filtersBar-container > .filtersBar-aplied svg{
  color: #EB5757;
  margin-left: 10px;
  width: 16px;
  height: 16px;
}
.filtersBar-container > .filtersBar-aplied svg:hover{
  cursor: pointer;
}
.filtersBar-container > .filtersBar-aplied >div:last-child{
  font-size: 16px;
  line-height: 19px;
  color: #2D9CDB;
  margin-right: 0;
  margin-left: auto;
  width: 100px;
  height: 20px;
  margin-top: 6px;
}
.filtersBar-container > .filtersBar-aplied >div:last-child:hover{
  cursor: pointer;
}
.filtersBar-container > .filtersBar-aplied .filter-item{
  padding: 8px 15px;
  background: #FFFFFF;
  border-radius: 20px;
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
  margin-right: 10px;
  margin-bottom: 10px;
}
.filtersBar-container > .filtersBar-aplied .filter-item[disabled]{
  background: #adadad !important;
  color: white;
}
