.course-price-title-label{
  font-size: 16px;
  color: grey;
}
.course-coupon-title-label{
  font-size: 16px;
  color: grey;
  margin-bottom: 40px
}
.course-price-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
  height: auto;
}
.course-price-element{
  height: 60px;
  width: 205px;
  margin-right: 25px;
  border-radius: 5px;
  border: 1px solid grey;
}
.course-price-coupon-element{
  height: 30px;
  width: 200px;
  margin-right: 25px;
  border-radius: 5px;
  border: 1px solid grey;
}
.course-price-coupon-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 60px;
  height: auto;
}
.course-price-topForm{
  width: 95%;
}
.noBorder{
  border: none;
}
.add-more-coupons-flex{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-more-coupons-icon{
  padding: 0 !important;
  margin-left: 20px !important;
}
@media (max-width:1550px){
      .course-price-coupon-element{width:175px}
}
@media (max-width:1550px){
      .course-price-coupon-element{margin-bottom: 15px;}
}
@media (max-width:1100px){
      .course-price-element{margin-bottom: 15px;}
}
