.image-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-btn{
  background: #1e5799;
  color: white;
  border-radius: 5px;
  font-size: 16px;
	font-weight: 500;
  outline: none;
	padding: 8px 20px;
  border: none;
}
.relative-container{
  position: relative;
}
.absolute-centered{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
