.policy-container{
  width: 100%;
  display: flex;
  padding: 50px 100px;
  min-height: 700px;
}
.policy-content{
  width: 70%;
  display: flex;
  flex-direction: column;
  color: rgb(104, 112, 117);
}
.policy-container .title{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.policy-container .sub-title{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.policy-container .sub-title1{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.policy-container .text, li{
  font-size: 14px;
  font-weight:400;
  margin-bottom: 20px;
}
.policy-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width:1000px) {
    .policy-container{
      padding: 50px 20px;
    }
}
@media (max-width:768px) {
    .policy-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .policy-content{
      width: 90%;
    }
}
