.emailOtpSentWrapper {
  div {
    margin-top: 50px;
    text-align: center;

    p {
      text-align: center;
      line-height: 0.7rem;
    }
  }

  .faqText {
    font-size: 0.8rem;
    margin-top: 20px;
    text-align: center;
  }

  .emailLinkSentWrapper {
    text-align: center;
  }
}
